{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>
        {% block title %}
        {% endblock %}| Loja
    </title>
    {% bootstrap_css %}
</head>
<body>
    {% include 'global/menu.html' %}
    {% include 'global/header.html' %}

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>