{% extends 'global/base.html' %}

{% block title %}
  Novo Produto
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url 'urlsalvarProduto'%}" method="POST">
            {% csrf_token %}
            <h1>Cadastro de produto</h1>
            <input type="text" name="txtNome" placeholder="Digite o nome do produto..." class="form-control">
            <input type="text" name="txtPreco" placeholder="Digite o preço do produto..." class="form-control">
            <input type="number" name="txtQtde" placeholder="Digite a qtde do produto..." class="form-control">
            <input type="date" name="txtData" placeholder="Digite a data de compra..." class="form-control">
            <input type="text" name="txtDescricao" placeholder="Digite a descrição do produto..." class="form-control">

            <input type="submit" value="Salvar" class="btn btn-success">
        </form>
    </div>
{% endblock %}