{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>

    <div class="container">
        
        <div class="container">
            <h1>Cadastro de produto</h1>
            <input type="text" name="txtNome" placeholder="Digite o nome do produto..." class="form-control">
            <input type="text" name="txtPreco" placeholder="Digite o preçodo produto..." class="form-control">
            <input type="number" name="txtQtde" placeholder="Digite a qtde do produto..." class="form-control">
            <input type="date" name="txtData" placeholder="Digite a data de compra..." class="form-control">
            <input type="text" name="txtDescricao" placeholder="Digite a descrição do produto..." class="form-control">

        <form action="{% url 'urlsalvarProduto' %}" method="POST">
            <input type="submit" value="Salvar" class="btn btn-success">
        </form>
    </div>
</body>
</html>