{% extends 'global/base.html' %}

{% block title %}
  Editar Produto
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Edição de produto</h1>
        <form action="{% url 'urleditarProduto' p.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="txtNome" value="{{ p.nome }}" class="form-control">
            <input type="text" name="txtPreco" value="{{ p.preco }}" class="form-control">
            <input type="number" name="txtQtde" value="{{ p.qtde }}" class="form-control">
            <input type="date" name="txtData" value="{{ p.data }}" class="form-control">
            <input type="text" name="txtDescricao" value="{{ p.descricao }}" class="form-control">

            <input type="submit" value="Salvar" class="btn btn-success">
        </form>
    </div>

{% endblock %}