{% extends 'global/base.html' %}

{% block title %}
  Dashborad
{% endblock %}

{% block content %}

  {% for p in produtos %}
    <div class="card-group">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ p.nome }}</h5>
          <p class="card-text">{{ p.descricao | truncatechars:100 }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">R${{ p.preco }}</small>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}