{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}

</head>
<body>

   <div class="container">
   <h1>Lista de Produtos</h1>

   <div class="mb-3">
    <a href="{% url 'urlsair' %}" class="btn btn-danger">Sair</a>
   </div>

   <table class="table table-dark table-hover">
   <thead>
    <tr>
        <th scope="coll">#</th>
        <th scope="coll">Nome</th>
        <th scope="coll">Preço</th>
        <th scope="coll">Qtde</th>
        <th scope="coll">Data</th>
        <th scope="coll">Descrição</th>
        <th scope="coll">Editar</th>
        <th scope="coll">Excluir</th>
    </tr>
   </thead>

   <tbody>
    {% for p in produtos %}
    <tr>
        <th scope="row">{{p.id}}</th>
        <td> {{p.nome}}</td>
        <td> {{p.preco}}</td>
        <td> {{p.qtd}}</td>
        <td> {{p.data}}</td>
        <td> {{p.descricao}}</td>
        <td>
            <form action="{% url 'urleditarProduto' p.id %}" method="GET">
 
                <input type="submit" value="Editar" class="btn btn-primary">
            </form>
        </td>

        <td>
            <form action="{% url 'urlexcluirProduto' p.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Excluir" class="btn btn-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
   </tbody>
   </table>
   <form action="{% url 'urlcadastrarProduto' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Novo Produto" class="btn btn-primary">
   </form>

   </div>
</body>
</html>